tkinter
pyvisa~=1.14.1
winshell~=0.6
pywin32
mysql-connector-python~=9.1.0
pandas~=2.2.3
nidaqmx~=1.0.2
picosdk~=1.1
numpy~=2.1.3
pyqtgraph~=0.13.7
PyQt5~=5.15.11
scipy~=1.14.1
pyinstaller

pyserial~=3.5